footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-block: 20px;
    gap: 24px;
    font: 14px/150% var(--font-family);

}

.footer_links {
    display: flex;
    gap: 24px;
    justify-content: right;
} 
